* {
    margin: 0; padding: 0;
}

body, html, .content { height:100%; }

#grid {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.control-panel {
    position: absolute;
    top: 1em;
    left: 1em;

    opacity: .85;
}

#characters {
    margin: 0 auto;
}

#transitionsList {
    max-height: 300px;
    overflow-y: scroll;
}

#resultBar {
    background-color: darkgrey;
}

#indexInput {
    width: 4em;
}

.btn-char {
    width: 2em;
    height: 2.5em;
}

.state-text {
    font: bold 30px sans-serif;
    text-anchor: middle;
}